module keepalived_custom_policy 1.0;

require {
	type container_var_lib_t;
	type user_tmp_t;
	type keepalived_t;
	type hostname_exec_t;
	type keepalived_tmp_t;
	type container_runtime_exec_t;
    type unreserved_port_t;
	type root_t;
	class dir all;
	class file all;
	class lnk_file all;
    class tcp_socket name_connect;
    class capability dac_override;

}

#============= keepalived_t ==============
allow keepalived_t container_var_lib_t:dir all;
allow keepalived_t container_var_lib_t:file all;
allow keepalived_t container_var_lib_t:lnk_file all;
allow keepalived_t hostname_exec_t:file all;
allow keepalived_t user_tmp_t:file all;
allow keepalived_t keepalived_tmp_t:file all;
allow keepalived_t container_runtime_exec_t:dir all;
allow keepalived_t container_runtime_exec_t:file all;
allow keepalived_t unreserved_port_t:tcp_socket name_connect;
allow keepalived_t self:capability dac_override;
allow keepalived_t root_t:dir all;
allow keepalived_t root_t:file all;
